 
    <div class="row" style="background-color: rgb(255, 255, 255);">
     <div class="col-lg-1" > <img src="assets/images/logo.png" style=" width: 150px; height: 120px; padding-left: 30px; padding-top: 10px; padding-bottom: 10px;"/></div>  
     <div class="col-lg-1"></div>
     <div class="col-lg-7" style="padding-top: 40px; text-align: center;">
        <a [routerLink]="['/HOME']" style="padding-right: 40px; color: black;"><strong>HOME</strong></a>
        <a [routerLink]="['/ABOUT']" style="padding-right: 40px; color: black;"><strong>ABOUT</strong></a>
        <a [routerLink]="['/DONATE']" style="padding-right: 40px; color: black;"><strong>DONATE</strong></a>
        <a [routerLink]="['/NEWS']" style="padding-right: 40px; color: black;"><strong>NEWS</strong></a>
        <a [routerLink]="['/CONTACTUS']" style="padding-right: 40px; color: black;"><strong>CONTACT US</strong></a>
        <a [routerLink]="['/OURMISSION']" style="padding-right: 40px; color: black;"><strong>OUR MISSION</strong></a>
     </div>
     <div class="col-lg-1" style="padding-top: 50px; text-align: right;"><i class="fa fa-search" aria-hidden="true"></i></div>
     <div class="col-lg-2" style="padding-top: 40px;"><a href="https://forms.gle/btZEs5eCoFQ16W6p7" class="button-89" role="button">Donate Now</a></div>
    </div>



