<div class="row" style="background-color: blue; height: 600px;">
    <div class="col-lg-2"></div>
    <div class="col-lg-6" style="color: white;">
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <h1><b>ABOUT CHARITY</b></h1>
        <br/>
        <p>many variations of passages of Lorem Ipsum available,but the majority have<br>
           suffered alteration in some form, by injected humour, or randomised words which don't<br> 
           look even slightly believable.If youmany variations of passages of Lorem Ipsum available,<br>
           but the majority have suffered alteration in some form, by injected humour,or randomised<br>
           words which don't look even slightly believable. If you many variations of passages of <br>
           Lorem Ipsum available, but the majority have suffered alteration in some form, byinjected <br>
           humour, or randomised words which don't look even slightly believable. </p>
        <br/>
        <button class="button">READ MORE..</button>

    </div>
    <div class="col-lg-4">
        <br/>
        <br/>
        <img src="../assets/images/a1.png" style="height: 400px; padding-top: 15%; ">
        <br/>
        

    </div>
    <div class="col-lg-2"></div>
    <br/>
    <br/>
</div>