<div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-9">
       <br/>
       <h1><b>FEATURED CAUSE</b></h1>
       <br/>
       <p>going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
       <br/>
   </div>
</div>

<div class="row">
   <div class="col-lg-2"></div>
   <div class="col-lg-4"><div>
       <img src="../assets/images/f1.png" style="height: 600px;" >
   </div>
   </div>
   <div class="col-lg-4">
       <div class="row" style="padding-left: 60px; padding-top: 40px;">
           <h2>GIVE EDUCATION</h2>
       </div>
       <div class="row" style="padding-left:60px; padding-top: 40px;">
           <p>
               variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by
injected humour, or randomised v
ariations of passages of Lorem Ipsum
available, but the majority have suffered alteration in some form, by injected humour, or randomised
          <p>
       </div>
       <div class="row" style="padding-left:60px; padding-top: 30px;">
           <div class="col-lg-5" style="color: darkblue;"><h5>RAISED: $60,010</h5></div>
           <div class="col-lg-5" style="color: red;"><h5>GOAL: $70,000</h5></div>
       </div>
       <div class="row" style="padding-left:60px; padding-top: 30px;">
           <div class="col-lg-5"><button class="btn btn-primary btn-lg">READ MORE</button></div>
           <div class="col-lg-5"><button class="btn btn-danger btn-lg">READ MORE</button></div>
       </div>
   </div>
   <div class="col-lg-2"></div>
</div>