<div class="row">
    
    <div class="banner-img"><img src="../assets/images/charity3.jpeg" style="width: 100%; height: 900px;"></div>
    <div class="centered" style="text-align: center;">
        <h1 style="text-align: center;"><b>HELP POOR CHILD</b></h1><br/>
        <h6 style="text-align: center;">Suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.if you are going.</h6><br/>
        <button class="btn btn-danger" >READ MORE</button></div>
</div>
<br/>
<div class="row" style="background-color: white;">
    <div class="col-lg-3" ></div>
    <div class="col-lg-2" >
        <div class="card" style="background-color: rgb(161, 35, 35);">
            <div class="container">
                <i class="fa-regular fa-hand fa-5x" style="height: 150px; padding-top: 25px;"></i>
              <h4><b>VOLUNTEERS</b></h4>
              <p>Lorem Ipsum generators on the Internet tend to repeat predefined</p>
              <button class="button">JOIN NOW</button>
            </div>
          </div>
    </div>
    <div class="col-lg-2" >
        <div class="card" style="background-color: rgb(60, 87, 193);">
            <div class="container">
                <i class="fa-solid fa-hand-holding-heart fa-5x" style="height: 149px; padding-top: 25px;"></i>
              <h4><b>FUNDRAISE</b></h4>
              <p>Lorem Ipsum generators on the Internet tend to repeat predefined</p>
              <button class="button" style="background-color: rgb(60, 87, 193);;">JOIN NOW</button>
            </div>
          </div>
    </div>
    <div class="col-lg-2" >
        <div class="card" style="background-color: rgb(161, 35, 35);">
            <div class="container">
                
                <i class="fa-solid fa-sack-dollar fa-5x" style="height: 150px; padding-top: 25px;"></i>
              <h4><b>VOLUNTEERS</b></h4>
              <p>Lorem Ipsum generators on the Internet tend to repeat predefined</p>
              <button class="button">JOIN NOW</button>
            </div>
          </div>
    </div>
    <div class="col-lg-3"></div>
</div>
<br/>

<div class="row" style="background-color: blue; height: 600px;">
    <div class="col-lg-2"></div>
    <div class="col-lg-6" style="color: white;">
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <h1><b>ABOUT CHARITY</b></h1>
        <br/>
        <p>many variations of passages of Lorem Ipsum available,but the majority have<br>
           suffered alteration in some form, by injected humour, or randomised words which don't<br> 
           look even slightly believable.If youmany variations of passages of Lorem Ipsum available,<br>
           but the majority have suffered alteration in some form, by injected humour,or randomised<br>
           words which don't look even slightly believable. If you many variations of passages of <br>
           Lorem Ipsum available, but the majority have suffered alteration in some form, byinjected <br>
           humour, or randomised words which don't look even slightly believable. </p>
        <br/>
        <button class="button">READ MORE..</button>

    </div>
    <div class="col-lg-4">
        <br/>
        <br/>
        <img src="../assets/images/a1.png" style="height: 400px; padding-top: 15%; ">
        <br/>
        

    </div>
    <div class="col-lg-2"></div>
    <br/>
    <br/>
</div>

<br/>
<br/>
<br/>
<br/>


<div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-9">
        <h1 style="padding-right: 25px;"><b>MISSION CAUSES</b></h1>
        <p style="padding-right: 25px;">going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
        
    </div>
</div>

<br/>
<br/>

<div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-4">
        <div class="card">
            <div class="container2">
                <img src="../assets/images/m1.png" alt="Avatar" class="image">
                <div class="overlay">
                <div class="text">
                    <br/>
                    <br/>
                    <h5><b>WHICHALTERATION IN SOME</b></h5>
                    <br/>
                    
                    <h6>Alteration in some form, by injected ,<br>
                       or randomised words whichalteration in.,<br> 
                       </h6>
                    <br/>
                    <div class="row">
                        <div class="col-lg-6"><button class="btn btn-danger btn-sm">READ MORE..</button></div>
                        <div class="col-lg-6"> <button class="btn btn-danger btn-sm">DONATE NOW</button></div>
                    </div>
                </div>
            
            </div>
            </div>
        </div>
    </div>
    
    <div class="col-lg-4">
        <div class="card">
            <div class="container2">
                <img src="../assets/images/m2.png" alt="Avatar" class="image">
                <div class="overlay">
                <div class="text">
                    <br/>
                    <br/>
                    <h5><b>WHICHALTERATION IN SOME</b></h5>
                    <br/>
                    
                    <h6>Alteration in some form, by injected ,<br>
                       or randomised words whichalteration in.,<br> 
                       </h6>
                    <br/>
                    <div class="row">
                        <div class="col-lg-6"><button class="btn btn-danger btn-sm">READ MORE..</button></div>
                        <div class="col-lg-6"> <button class="btn btn-danger btn-sm">DONATE NOW</button></div>
                    </div>
                    
                   </div>

                </div>
        
            </div>
        </div>
    </div>
    <div class="col-lg-1"></div>
    
</div>

<br/>
<br/>
<br/>
<br/>



<div class="row">
     <div class="col-lg-2"></div>
     <div class="col-lg-9">
        <br/>
        <h1><b>FEATURED CAUSE</b></h1>
        <br/>
        <p>going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
        <br/>
    </div>
</div>

<div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-4"><div>
        <img src="../assets/images/f1.png" style="height: 600px;" >
    </div>
    </div>
    <div class="col-lg-4">
        <div class="row" style="padding-left: 60px; padding-top: 40px;">
            <h2>GIVE EDUCATION</h2>
        </div>
        <div class="row" style="padding-left:60px; padding-top: 40px;">
            <p>
                variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by
injected humour, or randomised v
ariations of passages of Lorem Ipsum
available, but the majority have suffered alteration in some form, by injected humour, or randomised
           <p>
        </div>
        <div class="row" style="padding-left:60px; padding-top: 30px;">
            <div class="col-lg-5" style="color: darkblue;"><h5>RAISED: $60,010</h5></div>
            <div class="col-lg-5" style="color: red;"><h5>GOAL: $70,000</h5></div>
        </div>
        <div class="row" style="padding-left:60px; padding-top: 30px;">
            <div class="col-lg-5"><button class="btn btn-primary btn-lg">READ MORE</button></div>
            <div class="col-lg-5"><button class="btn btn-danger btn-lg">READ MORE</button></div>
        </div>
    </div>
    <div class="col-lg-2"></div>
</div>
<br/>
<br/>



<div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-9">
       <br/>
       <h1><b>FEATURED CAUSE</b></h1>
       <br/>
       <p>going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
       <br/>
   </div>
</div>
<div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-4"><div>
        <img src="../assets/images/a3.png" style="height: 400px; width: 550px;" >
    </div>
    </div>
    <div class="col-lg-4">
        <div class="row" style="padding-left: 60px;">
            <h2>THE INTERNET TEND TO REPEAT</h2>
        </div>
        <div class="row" style="padding-left:60px; padding-top: 5px;">
            <p>
                variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by
injected humour, or randomised v
ariations of passages of Lorem Ipsum
available, but the majority have suffered alteration in some form, by injected humour, or randomised
           <p>
        </div>
        <div class="row" style="padding-left:60px;">
            <div class="col-lg-5" style="color: darkblue;"><h5>RAISED: $60,010</h5></div>
            <div class="col-lg-5" style="color: red;"><h5>GOAL: $70,000</h5></div>
        </div>
        <div class="row" style="padding-left:60px; padding-top: 5px;">
            <div class="col-lg-5"><button class="btn btn-primary btn-lg">READ MORE</button></div>
            <div class="col-lg-5"><button class="btn btn-danger btn-lg">READ MORE</button></div>
        </div>
    </div>
    <div class="col-lg-2"></div>
</div>
<br/>
<br/>
<br/>



<div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-9">
       <br/>
       <h1><b>FEATURED CAUSE</b></h1>
       <br/>
       <p>going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
       <br/>
   </div>
</div>
<div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-4"><div>
        <img src="../assets/images/a2.png" style="height: 400px; width: 550px;" >
    </div>
    </div>
    <div class="col-lg-4">
        <div class="row" style="padding-left: 60px;">
            <h2>THE INTERNET TEND TO REPEAT</h2>
        </div>
        <div class="row" style="padding-left:60px; padding-top: 5px;">
            <p>
                variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by
injected humour, or randomised v
ariations of passages of Lorem Ipsum
available, but the majority have suffered alteration in some form, by injected humour, or randomised
           <p>
        </div>
        <div class="row" style="padding-left:60px;">
            <div class="col-lg-5" style="color: darkblue;"><h5>RAISED: $60,010</h5></div>
            <div class="col-lg-5" style="color: red;"><h5>GOAL: $70,000</h5></div>
        </div>
        <div class="row" style="padding-left:60px; padding-top: 5px;">
            <div class="col-lg-5"><button class="btn btn-primary btn-lg">READ MORE</button></div>
            <div class="col-lg-5"><button class="btn btn-danger btn-lg">READ MORE</button></div>
        </div>
    </div>
    <div class="col-lg-2"></div>
</div>
<br/>
<br/>
<br/>


    

